/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 30, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 34, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 51, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 56, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 61, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 65, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 71, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 77, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 82, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 87, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 108, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 109, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 113, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 126, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0px;
}

/* line 130, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 134, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 138, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 141, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 147, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 151, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 156, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 159, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 163, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 167, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 170, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 173, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 176, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 179, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 183, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 189, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 193, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 196, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 201, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 204, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 238, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*
 *
 * Structure / Layout
 *
 */
/* line 251, ../sass/pages.scss */
#page {
  width: auto;
  padding: 0;
}

/* line 255, ../sass/pages.scss */
aside .content {
  font-size: 12px;
  padding: 9px 9px;
}

/* line 259, ../sass/pages.scss */
.block {
  clear: both;
}

/* line 262, ../sass/pages.scss */
.block {
  margin-bottom: 20px;
}

/* line 268, ../sass/pages.scss */
.region-content .field-name-field-application-screenshots .field-items .field-item img {
  margin: 10px 0;
}

/* line 271, ../sass/pages.scss */
.view-id-top_applications_by_interactions .views-row {
  margin-bottom: 15px;
}

/* line 274, ../sass/pages.scss */
#zone-header .block-addtoany {
  text-indent: -9999px !important;
  background: none !important;
}

/* line 278, ../sass/pages.scss */
.views-exposed-form .views-exposed-widget {
  float: left;
  padding: 0.5em 0.3em 0 0;
}

/*
 *
 * Header
 *
 */
/* line 290, ../sass/pages.scss */
#section-header {
  background: url("../images/header-bg.png") 0 -40px repeat-x;
}

/* line 293, ../sass/pages.scss */
#zone-branding-wrapper {
  position: relative;
  padding-top: 0px;
  background: url("../images/header-bg2.png") center 0px no-repeat;
}

/* line 298, ../sass/pages.scss */
#zone-branding {
  /*
     background: url('../images/tagline2.png') 248px 29px no-repeat;
   */
}

/* line 302, ../sass/pages.scss */
#zone-branding .logo-img {
  float: left;
  margin: 0 0 0 -10px;
  padding: 10px 0px 7px 0 !important;
}

/* line 306, ../sass/pages.scss */
#zone-branding .logo-img #logo {
  width: 181px;
  height: 80px;
}

/* line 310, ../sass/pages.scss */
.site-name-slogan {
  display: none;
}

/* line 313, ../sass/pages.scss */
#region-top-menu {
  margin-right: 0;
  float: right;
}

/* line 318, ../sass/pages.scss */
.block-nice-menus {
  margin-bottom: 10px;
}
/* line 320, ../sass/pages.scss */
.block-nice-menus ul.nice-menu {
  float: right;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid white;
}
/* line 325, ../sass/pages.scss */
.block-nice-menus ul.nice-menu li {
  border: 0;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dddddd;
}

/**
 * Search bar region
 */
/* line 338, ../sass/pages.scss */
#region-search-bar .section-nav .menu {
  float: left;
  border-right: 1px solid gainsboro;
  padding: 0;
  margin: 0;
}
/* line 343, ../sass/pages.scss */
#region-search-bar .section-nav .menu li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 349, ../sass/pages.scss */
#region-search-bar .section-nav .menu a {
  height: 38px;
  padding: 0 15px;
  line-height: 38px;
  font-sizE: 15px;
  font-weight: bold;
  color: #4CA3D9;
  text-decoration: none;
  border-left: 1px solid gainsboro;
  text-transform: none;
  display: block;
  background: url("../images/nav38px.png") 0 0 repeat-x;
}
/* line 361, ../sass/pages.scss */
#region-search-bar .section-nav .menu a:visited {
  height: 38px;
  padding: 0 15px;
  line-height: 38px;
  font-sizE: 15px;
  font-weight: bold;
  color: #4CA3D9;
  text-decoration: none;
  border-left: 1px solid gainsboro;
  text-transform: none;
  display: block;
  background: url("../images/nav38px.png") 0 0 repeat-x;
}
/* line 374, ../sass/pages.scss */
#region-search-bar .section-nav .menu a:hover {
  background-image: url("../images/nav-bg-hover38.png");
}
/* line 377, ../sass/pages.scss */
#region-search-bar .section-nav .menu a.active {
  background-image: url("../images/nav-bg-selected38.png");
}
/* line 382, ../sass/pages.scss */
#region-search-bar .block-custom-search-blocks {
  float: left;
  width: 750px;
  margin-bottom: 0;
  clear: none;
  padding-top: 10px;
}
/* line 389, ../sass/pages.scss */
#region-search-bar input {
  margin: 0;
}
/* line 392, ../sass/pages.scss */
#region-search-bar .search-form div {
  display: inline;
}
/* line 395, ../sass/pages.scss */
#region-search-bar .custom-search-box {
  color: #999;
  height: 38px;
  line-height: 38px;
  font-size: 15px;
  width: 681px;
  margin: 0 10px 0 0;
  font-style: italic;
  border: 1px solid #eeeeee;
  border-top: 2px solid #dddddd;
}
/* line 406, ../sass/pages.scss */
#region-search-bar .form-submit {
  height: 38px;
  width: auto;
}

/* line 413, ../sass/pages.scss */
.front .region-content-top-inner {
  padding: 10px 0;
  min-height: 0;
}

/* line 417, ../sass/pages.scss */
.region-content-top-inner {
  padding: 10px 0;
  min-height: 25px;
}

/* line 426, ../sass/pages.scss */
.block-title h2,
h2.block-title,
#region-content .field-label {
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  background: #374884;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 10px;
  padding: 0 0.8em;
  border-top: 1px solid #99c5ff;
  border-right: 1px solid #5684bf;
  border-bottom: 1px solid #5684bf;
  border-left: 1px solid #99c5ff;
}

/* line 442, ../sass/pages.scss */
h2.block-title {
  font-size: 16px;
  letter-spacing: 1px;
  border-style: none;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 449, ../sass/pages.scss */
#block-views-places-block-3 h2.block-title {
  margin-bottom: 5px;
}

/* line 452, ../sass/pages.scss */
#region-content .field-label {
  margin-top: 20px;
}

/* line 455, ../sass/pages.scss */
.region-content-inner {
  margin-bottom: 0px;
}

/* line 458, ../sass/pages.scss */
.region-content-inner p {
  margin-bottom: .8em;
}

/* line 461, ../sass/pages.scss */
.item-list ul li {
  border-bottom: 1px solid #eeeeee;
  padding: 0 0 10px;
  margin: 0 0 10px;
}

/* line 466, ../sass/pages.scss */
#region-sidebar-second .item-list ul li {
  border: none;
  margin: 0 0 2px;
  padding: 0 0 2px;
  list-style: inside;
}

/* line 475, ../sass/pages.scss */
.item-list .architecture-fields li, .item-list .architecture-fields ul li {
  border: none;
  list-style-type: square;
}
/* line 481, ../sass/pages.scss */
.item-list .architecture-content-types li, .item-list .architecture-content-types ul li {
  border: none;
  list-style-type: square;
}
/* line 487, ../sass/pages.scss */
.item-list .architecture-fields li, .item-list .architecture-fields ul li {
  padding-bottom: 0px;
  margin-bottom: 3px;
}

/* Places Page */
/* line 500, ../sass/pages.scss */
.view-id-places .view-content {
  margin-bottom: 10px;
}
/* line 503, ../sass/pages.scss */
.view-id-places .views-row {
  border-bottom: 1px dashed #eeeeee;
  padding: 10px 0;
  margin-bottom: 10px;
}
/* line 507, ../sass/pages.scss */
.view-id-places .views-row > div {
  /*float: left;
  width: 48%;
  margin-right: 2%;*/
}
/* line 512, ../sass/pages.scss */
.view-id-places .views-row div {
  /*  display: inline; */
}
/* line 514, ../sass/pages.scss */
.view-id-places .views-row div.views-field-title {
  display: block;
  font-weight: bold;
}
/* line 520, ../sass/pages.scss */
.view-id-places a {
  font-size: 16px;
  text-decoration: none;
}
/* line 524, ../sass/pages.scss */
.view-id-places .views-row div.location {
  display: block;
}
/* line 527, ../sass/pages.scss */
.view-id-places .using-sharing {
  display: inline;
}
/* line 530, ../sass/pages.scss */
.view-id-places .cc-org-apps {
  /*float: left;
  width: 48%;
  margin-right: 2%;*/
  float: none;
  display: inline-block;
  margin-right: 10px;
}

/* Applications Page */
/* line 542, ../sass/pages.scss */
.page-applications #region-content {
  width: 940px;
}
/* line 545, ../sass/pages.scss */
.page-applications #region-content-leftcolumn, .page-applications #region-content-leftcolumn-lower {
  float: left;
  clear: left;
}
/* line 549, ../sass/pages.scss */
.page-applications #region-content-rightcolumn, .page-applications #region-content-rightcolumn-lower {
  float: right;
  clear: right;
}

/**
 * Footer
 */
/* line 558, ../sass/pages.scss */
footer#section-footer {
  background-color: #FFFFFF;
  color: #A5A5A5;
  margin: 40px 0 0;
  padding: 20px 0;
}

/* line 565, ../sass/pages.scss */
.zone-bottom-footer h2.block-title,
footer#section-footer h2.block-title {
  color: #44484F;
  text-align: center;
  background: transparent;
  font-size: 18px;
  text-transform: none;
  padding: 0;
  border: 0;
}

/* line 575, ../sass/pages.scss */
footer#section-footer a:link,
footer#section-footer a:visited {
  color: #a5a5a5;
}

/* line 578, ../sass/pages.scss */
footer#section-footer a:hover {
  color: #cacaca;
}

/* line 581, ../sass/pages.scss */
#zone-footer-wrapper {
  background-color: #44484F;
  padding: 20px 0 0 0;
}

/* line 585, ../sass/pages.scss */
#zone-bottom-footer-wrapper {
  background-color: #ffffff;
}

/* line 588, ../sass/pages.scss */
#zone-bottom-footer p {
  margin-bottom: 0;
}

/* line 591, ../sass/pages.scss */
#block-cc-helper-cc-footer-logo-links h2.block-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-color: -moz-use-text-color;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: -moz-use-text-color;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: none;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: 0;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: -moz-use-text-color;
  border-right-style-ltr-source: physical;
  border-right-style-rtl-source: physical;
  border-right-style-value: none;
  border-right-width-ltr-source: physical;
  border-right-width-rtl-source: physical;
  border-right-width-value: 0;
  border-top-color: -moz-use-text-color;
  border-top-style: none;
  border-top-width: 0;
  color: #A5A5A5;
  font-size: 18px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  text-transform: none;
}

/**
 * OpenLayers maps styling
 */
/* line 650, ../sass/pages.scss */
body .openlayers-map .olControlAttribution {
  right: inherit;
  left: 5px;
  background-color: rgba(15, 15, 15, 0.5);
  color: #EEEEEE;
  padding: 5px;
  font-size: 10px;
  border-radius: 3px;
}
/* line 659, ../sass/pages.scss */
body .openlayers-views-map .olControlAttribution a {
  color: #EEEEEE;
  font-size: 10px;
  font-weight: bold;
}
/* line 665, ../sass/pages.scss */
body .openlayers-map .olControlPermalink {
  right: 5px;
  bottom: 5px;
  background-color: rgba(15, 15, 15, 0.5);
  color: #EEEEEE;
  padding: 5px;
  font-size: 10px;
  border-radius: 3px;
}
/* line 673, ../sass/pages.scss */
body .openlayers-map .olControlPermalink a {
  color: #EEEEEE;
  font-size: 10px;
  font-weight: bold;
}
/* line 679, ../sass/pages.scss */
body .openlayers-map .olFramedCloudPopupContent {
  border-radius: 5px;
  color: #EEEEEE;
}
/* line 682, ../sass/pages.scss */
body .openlayers-map .olFramedCloudPopupContent a {
  color: #EEEEEE;
}
/* line 686, ../sass/pages.scss */
body .openlayers-map img.olImageLoadError {
  background-color: transparent;
}

/* line 693, ../sass/pages.scss */
.view-id-problem_definitions_map {
  position: relative;
}
/* line 695, ../sass/pages.scss */
.view-id-problem_definitions_map .view-footer {
  position: absolute;
  bottom: -4px;
  right: 13px;
}

/* line 702, ../sass/pages.scss */
.view-id-cc_hackathon_sites_map .attachment-after {
  position: relative;
  top: -64px;
  right: 13px;
  text-align: right;
  height: 5px;
}

/* Search Page */
/* line 716, ../sass/pages.scss */
.page-search #page-title {
  font-size: 1em;
  margin-top: 15px;
  border-left: 1px solid #dddddd;
  padding-left: 3px;
  color: #aaa;
  visibility: hidden;
  display: none;
}
/* line 725, ../sass/pages.scss */
.page-search ul, .page-search ol {
  margin-left: 0px;
}
/* line 728, ../sass/pages.scss */
.page-search .refine-search .form-item-custom-search-blocks-form-2 {
  display: none;
}
/* line 731, ../sass/pages.scss */
.page-search #block-system-main {
  border-left: 1px solid #dddddd;
  padding-left: 13px;
}
/* line 735, ../sass/pages.scss */
.page-search #block-custom-search-blocks-2 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #FFFFFF;
}
/* line 741, ../sass/pages.scss */
.page-search .form-item {
  margin-top: 0px;
  margin-bottom: 5px;
}
/* line 742, ../sass/pages.scss */
.page-search .form-item label.option {
  font-size: 1.3em;
  padding-bottom: 5px;
}

/* line 751, ../sass/pages.scss */
.form-actions {
  margin-top: 0px;
  margin-bottom: 5px;
}

/* line 756, ../sass/pages.scss */
.refine-search {
  padding: 0px 9px 0px 9px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: left;
  background: white;
}

 /**
* Application Views
*/
/* line 772, ../sass/pages.scss */
.view-content thead th, .view-content .cols-5 tr td {
  padding: 3px 18px 3px 3px;
}
/* line 776, ../sass/pages.scss */
.view-content .cols-4 tr td {
  padding: 3px 18px 3px 3px;
}
/* line 779, ../sass/pages.scss */
.view-content .cols-4 tr .views-field-comment-count {
  text-align: center;
}
/* line 784, ../sass/pages.scss */
.view-content .cols-5 tr .views-field-field-application-rating, .view-content .cols-5 tr .views-field-field-rating {
  text-align: center;
  padding: 3px 5px 3px 5px;
}
/* line 789, ../sass/pages.scss */
.view-content .cols-4 tr .views-field-field-problem-rating {
  text-align: center;
  padding: 3px 5px 3px 5px;
}

/* line 795, ../sass/pages.scss */
.view-id-applications.view-display-id-block_8 .meta td {
  display: none;
}

/* line 799, ../sass/pages.scss */
.view-top-applications-by-interactions .views-field-field-application-logo {
  margin: 0 10px 5px 0;
  float: left;
}
/* line 803, ../sass/pages.scss */
.view-top-applications-by-interactions .views-field-nid {
  font-size: .85em;
}
/* line 806, ../sass/pages.scss */
.view-top-applications-by-interactions .views-field-field-application-sdesc {
  margin-left: 70px;
  font-size: .85em;
}

/**
 * Organization Views
 */
/* line 815, ../sass/pages.scss */
.view-top-organizations-by-interaction .views-row .views-field {
  float: left;
  width: 210px;
}

/* line 819, ../sass/pages.scss */
.view-top-organizations-by-interaction .views-row .views-field-nid {
  width: 60px;
  text-align: right;
}

/**
 * Three column regions.  They get their heights shared.
 */
/* line 826, ../sass/pages.scss */
.region-content-main-left #block-views-interactions-block .content {
  padding: 0;
}

/* line 831, ../sass/pages.scss */
.container-16 .grid-5.region-content-main-left,
.container-16 .grid-5.region-content-main-middle,
.container-16 .grid-5.region-content-main-right {
  width: 300px;
}

/* line 836, ../sass/pages.scss */
.region-content-main-left .view,
.region-content-main-middle .view,
.region-content-main-right .view {
  position: relative;
  margin: 0;
  padding: 0 0.8em;
}

/* line 846, ../sass/pages.scss */
.region-content-main-left .view .item-list,
.region-content-main-middle .view .item-list,
.region-content-main-right .view .item-list,
.region-content-main-right .view .view-footer,
.region-content-main-middle .view .view-footer,
.region-content-main-left .view .view-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 853, ../sass/pages.scss */
.region-content-main-left .view .views-row-last,
.region-content-main-middle .view .views-row-last,
.region-content-main-right .view .views-row-last {
  padding-bottom: 30px;
}

/* line 859, ../sass/pages.scss */
#block-custom-search-blocks-1 {
  margin-left: 90px;
}

/**
 * Recent Stories on Homepage Block
  */
/* line 865, ../sass/pages.scss */
.views-field-field-story-image {
  float: left;
  margin-right: 40px;
}

/* line 869, ../sass/pages.scss */
.views-field-field-story-image .views-field-title a {
  font-size: 22px;
}

/* line 872, ../sass/pages.scss */
h1.architecture-entity {
  font-size: 24pt;
  text-transform: uppercase;
  margin-top: 10px;
}

/* line 877, ../sass/pages.scss */
h2.architecture-bundle {
  font-size: 18pt;
  margin-top: 6px;
}

/* footer logo links */
/* line 882, ../sass/pages.scss */
#block-cc-helper-cc-footer-logo-links {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 930px;
}

/* line 888, ../sass/pages.scss */
#worldbank, #eirene, #cat_lover, #rhok {
  margin: 0 25px;
}

/* Solr search bar */
/* line 892, ../sass/pages.scss */
#region-search-bar .form-submit {
  background: url("../images/search_gray_btn.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  color: transparent;
  height: 38px;
  margin-top: 5px;
  width: auto;
  text-shadow: none;
  border-radius: 0;
}

/* line 902, ../sass/pages.scss */
#region-search-bar input#edit-term {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #dddddd #eeeeee #eeeeee;
  border-image: none;
  border-style: solid;
  border-width: 2px 1px 1px;
  color: #999999;
  font-size: 15px;
  font-style: italic;
  height: 38px;
  line-height: 38px;
  margin: 5px 4px 0 15px;
  width: 760px;
}

/* line 919, ../sass/pages.scss */
#views-exposed-form-solr-search-page {
  padding: 0 40px;
}

/* line 922, ../sass/pages.scss */
#user-login-form {
  font-size: 12px;
}

/* line 925, ../sass/pages.scss */
#block-views-exp-solr-search-page .views-exposed-form label {
  display: none;
}

/* line 928, ../sass/pages.scss */
html.js #block-views-exp-solr-search-page input.form-autocomplete {
  background-image: url("../images/throbber3.gif") !important;
  background-position: 99% 8px !important;
  background-repeat: no-repeat;
}

/* line 933, ../sass/pages.scss */
html.js #block-views-exp-solr-search-page input.throbbing {
  background-position: 99% -32px !important;
}

/* line 936, ../sass/pages.scss */
body.context-users #region-sidebar-second {
  margin-top: 112px;
}

/* Craig's changes */
/* line 943, ../sass/pages.scss */
.region-sidebar-second .add-button,
.add-to-marketplace .add-button,
.edit_block .add-button,
.block-cc-editing .add-button {
  background-color: #C25837;
  font-family: Oswald;
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 19px;
  text-align: left;
  padding-left: 8px;
  padding-bottom: 10px;
  border-style: none;
  border-color: #C25837;
  background-image: none;
}

/* line 956, ../sass/pages.scss */
h1.title.test {
  font-family: Oswald;
  font-weight: normal;
  text-transform: uppercase;
  color: #374884;
  font-size: 39px;
}

/* line 965, ../sass/pages.scss */
.view-applications div.view-header,
.view-projects div.view-header,
.view-problems div.view-header {
  background: transparent;
  border: none;
  color: black;
  text-align: left;
  text-transform: none;
  font-size: 1.3em;
  font-weight: 100;
  margin: 0;
  font-family: 'PT Sans';
  line-height: 1.3em;
}

/* line 977, ../sass/pages.scss */
li.menu-2828.menu-path-problems.even a {
  color: #374884;
}

/* line 980, ../sass/pages.scss */
li.menu-2496.menu-path-node-16036.odd.last a {
  color: #374884;
}

/* line 983, ../sass/pages.scss */
div.field-item.even p {
  color: #444444;
  font-family: Helvetica,Arial,Sans-serif;
}

/* line 987, ../sass/pages.scss */
div.field-item.even p strong {
  font-size: 20px;
  font-weight: bold;
  border-style: none;
  border-color: #bf34bf;
  border-top-width: 1px;
}

/* Style listings at bottom of problems and projects listing pages */
/* line 996, ../sass/pages.scss */
.view-projects-all.view-id-projects_all,
.view-problems.view-display-id-block {
  font-family: PT Sans;
  font-weight: normal;
}

/* line 1001, ../sass/pages.scss */
.view.view-projects-all.view-display-id-block .views-field-title a,
.view.view-problems.view-display-id-block .views-field-title a {
  font-weight: normal;
}

/* line 1005, ../sass/pages.scss */
.view.view-projects-all.view-display-id-block th.views-field-title a,
.view.view-problems.view-display-id-block th.views-field-title a {
  font-weight: bold;
  font-size: 10pt;
}

/* line 1010, ../sass/pages.scss */
.view.view-projects-all.view-display-id-block .views-field-created,
.view.view-problems.view-display-id-block .views-field-created {
  font-size: 10pt;
  white-space: nowrap;
}

/* line 1015, ../sass/pages.scss */
.view.view-projects-all.view-display-id-block thead,
.view.view-problems.view-display-id-block thead {
  font-size: 10pt;
}

/* line 1019, ../sass/pages.scss */
.view.view-projects-all.view-display-id-block .views-field-field-small-icon,
.view.view-problems.view-display-id-block .views-field-field-small-icon {
  margin-right: 10px;
}

/* line 1023, ../sass/pages.scss */
.view-projects-all.view-display-id-block th,
.view-problems.view-display-id-block th {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 1027, ../sass/pages.scss */
.hackathon-rating-avg {
  color: #374884;
  font-size: 16pt;
}

/* line 1032, ../sass/pages.scss */
.view-project-categories,
.view-problem-categories {
  font-family: PT Sans;
  color: #374884;
  text-transform: uppercase;
  font-size: 9pt;
  text-decoration: none;
  white-space: nowrap;
}
/* line 1039, ../sass/pages.scss */
.view-project-categories a,
.view-problem-categories a {
  font-family: PT Sans;
  color: #374884;
  text-transform: uppercase;
  font-size: 9pt;
  text-decoration: none;
  white-space: nowrap;
}

/* line 1049, ../sass/pages.scss */
.view-project-categories .views-row,
.view-problem-categories .views-row {
  margin: 0 0 5px;
}

/* line 1054, ../sass/pages.scss */
.view-content .cols-5 tr td .view-project-categories.view-id-project_categories.view-display-id-block_2 tr td, .view-content .cols-5 tr td .view-project-categories.view-id-project_categories.view-display-id-block_3 tr td {
  width: 21px;
  padding: 3px 0px 3px 0px;
}
/* line 1059, ../sass/pages.scss */
.view-content .cols-4 tr td .view-problem-categories.view-id-problem_categories.view-display-id-block_1 tr td {
  width: 21px;
  padding: 3px 0px 3px 0px;
}
/* line 1064, ../sass/pages.scss */
.view-content .cols-5 tr td .view-project-categories.view-id-project_categories.view-display-id-block_2 table, .view-content .cols-5 tr td .view-project-categories.view-id-project_categories.view-display-id-block_3 table {
  width: auto;
}
/* line 1068, ../sass/pages.scss */
.view-content .cols-4 tr td .view-problem-categories.view-id-problem_categories.view-display-id-block_1 table {
  width: auto;
}
/* line 1072, ../sass/pages.scss */
.view-content .cols-5 tr td .view-project-categories.view-id-project_categories.view-display-id-block_2 tr td img, .view-content .cols-5 tr td .view-project-categories.view-id-project_categories.view-display-id-block_3 tr td img {
  width: 21px;
}
/* line 1076, ../sass/pages.scss */
.view-content .cols-4 tr td .view-problem-categories.view-id-problem_categories.view-display-id-block_1 tr td img {
  width: 21px;
}

/* line 1085, ../sass/pages.scss */
.view-applications-all.view-display-id-block .view-display-id-block_2 .views-field-field-small-icon,
.view-applications-all.view-display-id-block .view-display-id-block_3 .views-field-field-small-icon,
.view.view-projects-all.view-display-id-block .view-display-id-block_2 .views-field-field-small-icon,
.view.view-projects-all.view-display-id-block .view-display-id-block_3 .views-field-field-small-icon,
.view.view-problems.view-display-id-block .view-display-id-block_1 .views-field-field-small-icon {
  margin-right: 5px;
}

/* line 1092, ../sass/pages.scss */
.node-type-application .field-name-field-image {
  float: left;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 20px;
}

/* line 1099, ../sass/pages.scss */
.view-application-categories a {
  -moz-text-blink: none;
  -moz-text-decoration-color: -moz-use-text-color;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: solid;
  color: #374884;
  font-family: PT Sans;
  font-size: 9pt;
  text-transform: uppercase;
  white-space: nowrap;
}

/* line 1111, ../sass/pages.scss */
.view-application-categories a:hover {
  text-decoration: none;
  color: #7793ec;
  font-family: PT Sans;
  font-size: 9pt;
  text-transform: uppercase;
  white-space: nowrap;
}

/* line 1129, ../sass/pages.scss */
.view-application-at-a-glance .views-field-view,
.view-application-at-a-glance .views-field-view-1,
.view-application-at-a-glance .views-field-field-creator,
.view-application-at-a-glance .views-field-field-install-url,
.view-application-at-a-glance .views-field-field-download-url,
.view-application-at-a-glance .views-field-field-license,
.view-application-at-a-glance .views-field-field-release-notes,
.view-application-at-a-glance .views-field-field-requirements,
.view-application-at-a-glance .views-field-field-software-type,
.view-application-at-a-glance .views-field-field-url {
  border-bottom: solid 1px #DDDDDD;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 1138, ../sass/pages.scss */
.view-application-categories .views-row {
  color: #666666;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  position: relative;
}

/* line 1148, ../sass/pages.scss */
.views-field-field-license a:first-child,
.views-field-field-requirements a:first-child,
.views-field-field-software-type a:first-child {
  margin-left: 0;
}

/* line 1154, ../sass/pages.scss */
.views-field-field-license a,
.views-field-field-requirements a,
.views-field-field-software-type a {
  margin-left: 10px;
}

/* line 1158, ../sass/pages.scss */
#block-user-login {
  float: none;
}

/* line 1165, ../sass/pages.scss */
.region-content-main-left .view,
.region-content-main-middle .view,
.region-content-main-right .view {
  padding: 0;
}

/*
Frontpage specific.
*/
/* line 1176, ../sass/pages.scss */
.front #block-system-main {
  margin: 0;
}
/* line 1180, ../sass/pages.scss */
.front #page-title {
  font-size: 53px;
  margin: 0;
  padding-left: 0px;
  padding-top: 0px;
  margin-top: -10px;
  text-align: left;
  font-weight: normal;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: -1px;
}
